<h3>Buscar país por capital...</h3>
<hr />
<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="search($event)"
      (onDebounce)="suggestion($event)"
      placeholder="Buscar país por capital..."
    ></app-pais-input>
    <p class="badge text-bg-info m-2 mt-4">{{ query }}</p>
  </div>
</div>
<hr />
<div class="row" class="pais-tabla">
  <div class="col">
    <app-pais-tabla
      *ngIf="!hayError; else notFound"
      [countries]="data"
    ></app-pais-tabla>
    <ng-template #notFound>
      <div class="alert alert-danger">
        No se encontro nada con el termino {{ query }}
      </div>
    </ng-template>
  </div>
</div>
