<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Paises App</span>
      </a>
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            [routerLink]="['/pais']"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >Por país</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/capital']"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >Por capital</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/region']"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >Por región</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
