<div class="table-responsive">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img
            [src]="country.flags.svg"
            [alt]="country.name.common"
            class="country-img"
          />
        </td>
        <td>{{ country.capital }}, {{ country.name.common }}</td>
        <td>{{ country.population | number }}</td>
        <td>
          <a [routerLink]="['/pais', country.cca3]">Ver...</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
